<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        
    </head>
    <body>
        <header>
            <div>
                <table>
                    <tr>
                        <td> <a href= '/blog'> Home </a> </td>
                        <td> <a href= '/UserPage'> Users </a> </td>
                        <td> <a href= '/add'> Add a blog post </a> </td>
                        <td> <a href= '/login'> Login </a> </td>
                        <td> <a href= '/logout'> Logout </a> </td>
                        <td> <a href= '/register'> Register </a> </td> 
                    </tr>
                </table>
            </div>
        </header>
        <br>
        <main>

            {% block content %}

            {% endblock %}

        </main>
        <br>
        
    </body>
</html>