{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form action='/new-post' method='POST'>
        <label for='title_field'>Title for your new blog</label>
            </br>
            <input type="text" name='title'  id='title_field' value="{{title}}"/><span class='error'>{{title_error}}</span>
        <br />
        <label>
            Your new blog:
            </br>
            <textarea name="blog" cols="40" rows="8" value="{{blog}}"></textarea><span class='error'>{{body_error}}</span>
        </label>
        </br>
        <input type="submit" value='Add Entry' />
    </form>


{% endblock %}